# ignore test folder 
/test
/backend/diarization/tests

# ignore cache folder 
/backend/whisper/cache

# ignore database folder 
/database

*.wav
*.env

backend/preprocess/__pycache__/
/backend/preprocess/routers/__pycache__
/backend/preprocess/tests/__pycache__