# ignore test folder 
/test
/backend/diarization/tests

# ignore cache folder 
/backend/whisper/cache

# ignore database folder 
/database

*.wav
**/.env

/backend/*.env

backend/preprocess/__pycache__/
/backend/preprocess/routers/__pycache__
/backend/preprocess/tests/__pycache__

/backend/lab/
**/__pycache__/

/backend/build.log